textarea {
    display: block;
    margin: 1rem;
    width: 30vw;
    height: 3em;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.header {
    font-size: 32px;
    text-align: center;
    background-color: #f77e38;
    padding: 1rem;
}

#btn-translate {
    background-color: #f77e38;
    border-radius: 12px;
    height: 5vh;
    width: 20vw;
    font-size: larger;
    margin-left: 25vw;
    cursor: pointer;
}

.main {
    box-sizing: border-box;
    margin-left: 15vw;
}

.footer {
    font-size: 40px;
    align-items: center;
    margin-top: 8rem;
    height: 7rem;
    background-color: #f77e38;
    text-align: center;
}
